#lifegrid {
  padding: 2px;
  margin: 0px;
  width: 900px;
  height: 900px;
  border-style: solid;
  border-width: 1px;
}
.lifecell {
  display: block;
  float: left;
  padding: 0px;
  margin: 0px;
  height: 10px;
  width: 10px;
  border-style: solid;
  border-width: 1px;
}
.lifecell:hover {
  background-color: #8dcf8a;
}
.alive {
  background-color: #328a2e;
}
